node_modules
dist
build
.DS_Store
*.log
backend/node_modules
backend/dist
frontend/node_modules
frontend/dist
backend/auth_info_baileys
backend/sessions
backend/uploads
backend/prisma/*.db
backend/prisma/*.db-journal
backend/reset_instance.js
.env
.env.local
